body {
		background-color : #424242;
}

table { width:100%; text-align:center; }
th { 
	display : inline-block;
	width : 30%;
	color : white; 
	padding : 3px;
	font-size : 18px;
 	background :  rgba(0, 0, 0, 0.3);
	border-radius : 10px;
	}

#page {
	width : 99%;
	height : 99%;
	margin: 0 auto;
	text-align : center;
}
header {
	margin-top:3px; 
	height : 4.8vh;
	/*border :solid 2px #ff0000;*/
	background : white;
	border-radius : 10px;
	font-size:18px;
}

.headers_left {
	display:inline-block;
	float : left;
	margin:1vh;
}


.headers_right {
	display:inline-block;
	float : right;
	font-size:18px;
	text-align:right;
	margin:1.3vh;
}

aside {
	/*width : 10%;*/
	/*height : 90vh;*/
	float : left;
	/*padding:2px;*/
	/*border:solid 1px #ff0000;*/
	background :  rgba(0, 0, 0, 0.3);
	border-radius : 10px;
	text-align : center;
	margin-top : 3px;
}

/* 페이징 글씨 */
.paging {
	text-align:center;
	text-decoration-line: none;
	font-size : 16px;
	color : white;
}

.paging a:link, .paging a:visited, .paging a:hover { text-decoration-line : none;  color: white; }


nav {
	display : inline-block;
	/*height : 10%;
	width : 80%;*/
	/*border:solid 1px #0000ff;*/

}

nav li.categorys {
	font-size : 16px;
}

.categorys button {
	border-radius : 3px;
	background : #FAD6A6;
	width : 100%; 
	font-size : 16px; 
	text-align : center;
	height : 80px;
	border-style : none;
}

 .categorys button:hover{ background : #F8C684 }



main {
	float : right;
}

/* 메뉴 보여지는 곳*/
section.menus{
	display:inline-block;
	float : left;
	margin : 3px 0px 0px 3px;
	vertical-align : middle;
}

section.menus .items {
	display : inline-block;
	background : white;
	width : 16%;
	height : 90px;
	border-radius : 3px;
	margin : 13px 8px;
	
}

section.menus .items td {
	display: block;
	align-items : center;
	
}

.items .menus_list
{	
	background-color : #f2f2f2;
	width : 100%;
	font-size : 16px;
	border-radius : 3px;
	width : 100%; 
	font-size : 16px; 
	text-align : center;
	height : 100px;
	border-style : none;
}

.items .menus_list:hover, section.menus .options:hover { background : #cecece }

					
/* 옵션 */
.options{
	background-color : #f2f2f2;
	width : 100%;
	height : 90px;
	font-size : 16px;
	border-radius : 3px;
	border-style : none;
}

/* 선택한 메뉴들 보이는 곳*/
section.order{
	display:inline-block;
	background-color: white;
	border-radius : 10px;
	float : right;
	margin-top : 3px;
}

.order_text {
	margin : 10px 0px 15px 0px;
	font-size : 24px;
}

.all_delete {
	padding : 8px;
	font-size : 16px;
	float : right;
	margin-right : 15px;
}

.order_li {
	font-size : 22px;
	margin-bottom : 15px;
}

.order_li input {
	margin : 5px;
	width : 30px;
	height : 30px;
}

.order_payment_button {
	position: absolute;
	right : 4%;
	top : 90vh;
	padding : 14px;
	font-size : 24px;
	width : 15%
}

.total_price_order {
	position: absolute;
	right : 2%;
	top : 83vh;
	font-size : 26px;
}


/* 결제하기 화면 */
section.payment_products{

	display:inline-block;
	background-color: white;
	border-radius : 10px;
	float : left;
	margin-top : 3px;
}


.total_price_payment {
	position: absolute;
	left : 2%;
	top : 83vh;
	font-size : 26px;
}

/* 결제, 포장방법 */

.payment_method{
	display:inline-block;
	float : center;
	vertical-align : middle;
	font-size :32px; 
}

.balance {
	padding : 10px;
	font-size : 24px;
	margin : 30px 0px;
}

.balance input {
	width : 80%;
	margin-left : 15px;
	font-size : 30px;
	border-style : none;
	
}

/* 지불 금액 입력 */
.pay_money {
	width : 30%;
	height : 4vh;
	padding : 10px;
	font-size : 24px;
	border-radius : 3px;
	border-style : none;
}

.pay_money_button {
	margin-top : 30px;
	padding : 15px;
	font-size : 26px;
}

/* 결제하기 옵션 */
.payment_method .payment_options{
	background-color : #f2f2f2;
	text-align : center;
	border-style : none;
	width : 120px;
	height : 80px;
	vertical-align : middle;
}

.manage_button {
	font-size : 32px;
	padding : 10px;
}

footer {
	background :  rgba(0, 0, 0, 0.3);
	height : 2vh;
	/*border : solid 2px #ff0000;*/
	border-radius : 10px;
}

      [class*="c_"] {
        width:100%
      }
      /* 너비가 768픽셀 이하인 태블릿을 위한 기본 설정 */
      @media only screen and (max-width: 768px) {
        .c_m_1 {height : 10vh;}
        .c_m_2 {width: 99%;  float: left; height : 92.3vh;}
        .c_m_3 {width: 75%; height : 92.3vh}
        .c_m_4 {width:23%; height : 92.3vh}
		.c_m_5 {width : 13%; height : 55%; margin-top:7px}
		.c_m_6 {width : 20%; height : 80%}
		.c_m_7{width : 20%; height : 92.3vh}
		.c_m_8{width : 75%; height : 92.3vh;}
		nav li.categorys button {height : 45px;}
      }
      /* 너비가 768픽셀 이상인 데스크톱 컴퓨터, 노트북 등 */
      @media only screen and (min-width: 768px) {
        .c_1 {width:10%; height : 92.3vh;} /*aside*/
        .c_2{width: 88.5%; height : 92.3vh} /*main*/
        .c_3 {width: 73.6%; height : 89vh} /*section menus*/
        .c_4{width:25%; height : 92.3vh} /*section choices*/
		.c_5{width : 80%; height : 10%; margin-top : 20px} /*nav*/
		.c_6 {width : 20%; height : 80%} /*menus items*/
		.c_7{width:20%; height : 92.3vh; margin-left : -13%;} /*section payment*/
		.c_8{width : 92%; height : 92.3vh;} /*payment_main menus*/
      }


/*햄버거 메뉴 출처 : https://alikong.tistory.com/34*/
.menu {
  position: absolute;
  top: 0;
  left : 0;
  height: 100%;
  max-width: 0;
  transition: 0.5s ease;
  z-index: 1;
  background-color: #eee;
}

.burger-icon {
  cursor: pointer;
  display: inline-block;
  position: absolute;
  z-index: 2;
  padding: 1.5vh 0;
  left : 2%;
  user-select: none;
  width: auto;
  margin: 0;
}

.burger-icon .burger-sticks {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.burger-icon .burger-sticks:before,
.burger-icon .burger-sticks:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.burger-icon .burger-sticks:before {
  top: 5px;
}

.burger-icon .burger-sticks:after {
  top: -5px;
}

.burger-check {
  display: none;
}

.burger-check:checked~.menu {
  max-width: 200px;
}

.burger-check:checked~.burger-icon .burger-sticks {
  background: transparent;
}

.burger-check:checked~.burger-icon .burger-sticks:before {
  transform: rotate(-45deg);
}

.burger-check:checked~.burger-icon .burger-sticks:after {
  transform: rotate(45deg);
}

.burger-check:checked~.burger-icon:not(.steps) .burger-sticks:before,
.burger-check:checked~.burger-icon:not(.steps) .burger-sticks:after {
  top: 0;
}

/*메뉴 안에 리스트*/

.menu_wrap{
    position: absolute;
    top: 160px;
    left: 30%;
    margin: -82px 0 0 -35px;
}
.menu_wrap li{
    padding:10px;
	margin-top: 10px;
    list-style: none;
	text-align : left;
	font-size : 24px;
}
.menu_wrap a{
    display: inline-block;
    color: #000000;
    text-decoration: none;
 
}



